<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1>Hello!</h1>
    <a href="/login" onclick="/login"> Log In </a>
</body>
</html>