<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Molestie a iaculis at erat. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Ut morbi tincidunt augue interdum velit euismod. Orci porta non pulvinar neque laoreet. Sit amet venenatis urna cursus eget nunc scelerisque. Congue eu consequat ac felis donec et odio. Magna sit amet purus gravida quis blandit turpis cursus. Sagittis id consectetur purus ut faucibus. Lectus urna duis convallis convallis tellus id. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id. Vitae sapien pellentesque habitant morbi tristique senectus. Ac felis donec et odio pellentesque diam volutpat. Ornare aenean euismod elementum nisi quis eleifend. Scelerisque varius morbi enim nunc faucibus a.

    <br><br>Condimentum id venenatis a condimentum vitae. Turpis egestas pretium aenean pharetra magna. In nibh mauris cursus mattis. Pharetra massa massa ultricies mi. Dictum non consectetur a erat nam at lectus. Faucibus purus in massa tempor nec feugiat. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Facilisis volutpat est velit egestas dui id. Aenean et tortor at risus viverra adipiscing at in. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Dignissim convallis aenean et tortor at risus viverra adipiscing. Nunc congue nisi vitae suscipit tellus mauris a diam maecenas. Eu mi bibendum neque egestas congue quisque egestas diam in. Mauris augue neque gravida in fermentum et. Donec massa sapien faucibus et molestie. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. At augue eget arcu dictum varius.

    <br><br>Sit amet mattis vulputate enim nulla. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Odio euismod lacinia at quis risus sed vulputate. Sed libero enim sed faucibus turpis. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Ullamcorper eget nulla facilisi etiam dignissim diam. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Sociis natoque penatibus et magnis dis. Arcu cursus vitae congue mauris rhoncus. Mauris cursus mattis molestie a iaculis at erat. At augue eget arcu dictum varius duis at. Tincidunt augue interdum velit euismod in. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum.</p>
    
    <a href="/login" class="btn green">Give Test Now!</a>
    
</body>
</html>