<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Instructions for Test:</h1><br><br>
        <h3>1) This is a 1 hour test</h3><br>
        <h3>2) Once you submit answer to a question, you won't be able to view that particular question</h3><br>
        <h3>3) ....</h3><br>
        <h3>4) ....</h3><br>
        <h3>...</h3><br><br><br>

        <form action="/instructions" method="POST">
            <button type="submit"> Start Test </button>
        </form>
    </center>

</body>
</html>